@import "tailwindcss";

#root{
    height: 100vh;
    width: 100vw;
}

/* #logout{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
} */

::-webkit-scrollbar{
    display: none;
}